body {
  display: flex;
  justify-content: center;
  background-color: #282a35;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  gap: 6.7px;
}
textarea {
  width: 700px;
  height: 180px;
  resize: none;
  background-color: #373943;
  color: #c9cdd6;
}
.home-result {
  width: 700px;
  max-height: 400px;
  overflow: auto;
  box-sizing: border-box;
  background-color: #373943;
  color: #c9cdd6;
}
select {
  background-color: white;
  color: black;
  text-align: center;
  padding-left: 16px;
  height: 30px;
}
select:hover {
  background-color: #04aa6d;
  color: white;
}
button {
  background-color: #5865f2;
  color: #ffffff;
  height: 25px;
}

button:hover {
  background-color: #4752c4;
}
.error-result{
  justify-content: center;
  color: white;
  font-size: 30px;

}
