<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/style/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ascii-art-web</title>
  </head>
  <body class="error-body">
    <pre class="error-result">{{.}}</pre>
    <div class="message-level">
      <p>
        Please check that the Website address is spelled correctly or go to our
        home page
      </p>
      <a href="index.html">Go back to the homepage</a>
    </div>
  </body>
</html>
